.image {
  max-width: 100%;
  @extend .image--md;
}
.image--md {
  width: map-get($image, width);
}
.image--x22l {
  width: map-get($image, width-x22l);
}
.image--x21l {
  width: map-get($image, width-x21l);
}
.image--x20l {
  width: map-get($image, width-x20l);
}
.image--x19l {
  width: map-get($image, width-x19l);
}
.image--x18l {
  width: map-get($image, width-x18l);
}
.image--x17l {
  width: map-get($image, width-x17l);
}
.image--x16l {
  width: map-get($image, width-x16l);
}
.image--x15l {
  width: map-get($image, width-x15l);
}
.image--x14l {
  width: map-get($image, width-x14l);
}
.image--x13l {
  width: map-get($image, width-x13l);
}
.image--x12l {
  width: map-get($image, width-x12l);
}
.image--x11l {
  width: map-get($image, width-x11l);
}
.image--x10l {
  width: map-get($image, width-x10l);
}
.image--x9l {
  width: map-get($image, width-x9l);
}
.image--x8l {
  width: map-get($image, width-x8l);
}
.image--x7l {
  width: map-get($image, width-x7l);
}
.image--x6l {
  width: map-get($image, width-x6l);
}
.image--x5l {
  width: map-get($image, width-x5l);
}
.image--x4l {
  width: map-get($image, width-x4l);
}
.image--x3l {
  width: map-get($image, width-x3l);
}
.image--x2l {
  width: map-get($image, width-x2l);
}
.image--xl {
  width: map-get($image, width-xl);
}
.image--lg {
  width: map-get($image, width-lg);
}
.image--sm {
  width: map-get($image, width-sm);
}
.image--xs {
  width: map-get($image, width-xs);
}
